[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
python-gnupg = "*"
requests = "*"
boto3 = "*"
"ruamel.yaml" = "*"

# [requires]
# python_version = "3.7"
